@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

nav {
    background: rgba(255, 255, 255, 1);
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1900px;
    margin: auto;
    padding: 20px;

}

.logo-container {
    width: 40%;
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 86px;
    object-fit: cover;
    margin-left: 10px;
}

.logo-container .logo-font {
    font-size: 2.8rem;
    font-weight: 700;
    margin-left: 10px;
}

.logo-font .logo-color {
    color: #FF42A5;
}

.nav-bar {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-bar a {
    text-decoration: none;
    color: #3C354F;
    font-weight: 500;
    font-size: 1.1rem;
}

.nav-bar li {
    list-style-type: none;
}

.nav-bar .background-text {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px;
}

.banner-content {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.banner-content img {
    max-width: 100%;
}

.content-section {
    position: absolute;
    top: 20%;
    width: 100%;
}

.banner-container {
    display: flex;
    max-width: 1900px;
    height: fit-content;
    margin: auto;
    justify-content: ;
    align-items: center;
    background-color: #fffcfc;
    padding-left: 70px;
    padding-right: 70px;
}

.banner-container img {
    height: 450px;
}

.primary-text {
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 600;
    text-transform: uppercase;
}

.heading-content {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
}

.primary-paragraph {
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
    text-transform: lowercase;
    margin-bottom: 10px;
    margin-left: 5px;
}

.btn-primary {
    padding: 12px 25px;
    border-radius: 40px;
    border: 0;
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #FF42A5;
}

.btn-secondary {
    padding: 12px 25px;
    border-radius: 40px;
    border: 0;
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #4EC5F7;
    margin-left: 10px;
}


.online-container {
    text-align: center;
    margin-top: 50px;
}

.main-content {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;
}

.colorfull-content {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    font-weight: 700;
}

.para-gap {
    padding: 10px;
}

.game-container {
    max-width: 1900px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-left: 70px;
    padding-right: 70px;
    gap: 15px;
}

.watch-now-button {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: -220px;
}

.watch-now {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #FF42A5;
}

/* .watch-now-button .watch-now:hover{
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
} */

.game-container img {
    width: 235px;
    height: 285px;
    border-radius: 16px;
}

.caption {
    width: 230px;
    margin-top: 10px;
}

.instant-container {
    max-width: 1900px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    gap: 130px;
}

.instant-content {
    max-width: 40%;
    text-align: center;
    margin-left: 120px;
}

.instant-image {
    max-width: 60%;
}

.instant-image img {
    width: 100%;
    height: 420px;

}

.badge-image {
    margin-top: -200px;
    margin-left: -80px;
}

.badge-image img {
    width: 220px;
    height: 250px;
}

.last-game {
    margin-top: 10px;
    line-height: 30px;
}


.icon-container {
    max-width: 1900px;
    padding: 90px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    flex-wrap: wrap;
    margin: auto;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}

.image-content {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 50px;
    margin: 10px;
    padding: 5px;
}

.image-content:hover {
    background-color: #ffff;
    color: #FF42A5;
    border: 1px solid#FF42A5;
    ;
}

.image-content img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.icon-content {
    font-size: 10px;
    font-weight: 600;
}



.footer-container {
    background: #0B0223;
    max-width: 1900px;
    text-align: center;
    margin: auto;
    height: 500px;
}

.footer-logo img {
    width: 86.041px;
    height: 40px;
    margin-right: 10px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 0 50px 0;
}

.logo-foot {
    text-align: center;
    font-family: Work Sans;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.logo-color {
    color: #FF42A5;
}

.logo-extended {
    color: #ffff;
}

.footer-nav {
    display: grid;
    max-width: 60%;
    margin: auto;
    grid-template-columns: repeat(6, 1fr);
    list-style-type: none;
    margin-bottom: 50px;
}

.footer-nav a {
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}

.icon {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 40%;
    margin: auto;
    margin-bottom: 50px;
}

.footer-des {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    padding-bottom: 20px;
}

.footer-des {
    color: rgba(255, 255, 255, 0.60);

}

.all-reserved {
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
}