@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;800&display=swap');
body{
    font-family: 'Work Sans', sans-serif;
}
@media screen and (max-width:576px) {
    .nav-container ,
    .nav-bar,
    .banner-container,
    .game-container,
    .instant-container
    {
        flex-direction: column;
    }
    .nav-bar > li{
        padding: 15px;
    }
    .nav-bar,
    .background-text {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .game-container{
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }
    .banner-image img{
        max-width: 320px;
        margin: 10px;
    }
    .banner-container{
        padding: 30px;
        text-align: center;
    }
    .instant-container,
    .instant-content{
        margin: 0 auto;
        text-align: center;
        padding: 10px ;
    }

    .footer-container{
        height: 800px;
    }
    .icon-container
      {
        grid-template-columns: repeat(3, 1fr);
        padding: 20px;
        margin: 10px auto;
    }
    .footer-nav{
        grid-template-columns: repeat(3, 1fr);
        max-width: 90%;
    }
    .footer-nav li{
        padding: 20px;
    }
    .icon{
        grid-template-columns: repeat(3, 1fr);
    }
    .icon i{
        padding: 20px;
    }

    .footer-des p{
        padding: 20px;
    }
    .footer-des{
        grid-template-columns: repeat(2, 1fr);
    }
}